@model IEnumerable<Automotive.Model.BrandModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>DataTables</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">DataTables</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">DataTable with minimal features & hover style</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Brand ID</th>
                                        <th>Brand Name</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var brand in Model)
                                    {
                                        <tr>
                                            <td>@brand.BrandId</td>
                                            <td>@brand.BrandName</td>
                                            <td>
                                                <input class="inputCustId" type="hidden" value="@brand.BrandId" />
                                                <a href="#">Edit</a> |
                                                <a class="clsDelete" href="#!">Delete</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Brand ID</th>
                                        <th>Brand Name</th>
                                        <th>Actions</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

<script>
        $(function () {
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
        });


        $(document).ready(function () {

            $(".clsDelete").click(function () {
                var brandId = $(this).siblings(".inputCustId").val();

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Delete","Brands")",
                    data: { brandId : brandId },
                    cache: false,
                    success: function (data) {

                        if (data.Result == true) {
                            alert("User Deleted successfully..")
                            location.reload();
                        } else {
                            alert("Some error happened..")
                        }

                    }
                });

            })



        })

</script>


