@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>DataTables</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">DataTables</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">DataTable with minimal features & hover style</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Full Name</th>
                                        <th>Email</th>
                                        <th>Phone</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

<div class="modal fade" id="modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content overlay-wrapper">
            <div class="overlay"><i class="fas fa-3x fa-sync-alt fa-spin"></i><div class="text-bold pt-2">Loading...</div></div>
            <div class="modal-header">
                <h4 class="modal-title">Large Modal</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script>

    var dataTableColumnDefinitions =
        [
            {
                "targets": 0, "render": function (data, type, row, meta) {
                    var fullName = (row.FirstName + ' ' + row.LastName);
                    return '<a href="#!">'+fullName+'</a>';
                }
            },
            { "targets": 1, "data": "Email", "sortable": true },
            { "targets": 2, "data": "Phone", "sortable": false },
            {
                "targets": 3,
                "render": function (data, type, row, meta) {
                    var linkEdit = '<a href="#!"><i class="fas fa-edit clsEditUser"></i></a>';
                    var linkDelete = '<a href="#!"><i class="fas fa-trash clsDeleteUser"></i></a>';
                    return linkEdit + " | " + linkDelete;
                },
                "sortable": false,
                "searchable": false,
                "visible": true
            }
        ];
    var dataTableOptions = {
        "paging": true,
        "processing": true,
        "scrollY": "350px",
        "lengthChange": true,
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "responsive": true,
        "serverSide": true,
        "columnDefs": dataTableColumnDefinitions,
        "ajax": {
            url: "@Url.Action("List","Customer")", // json datasource
            type: "POST",  // method  , by default get,
            error: function () {  // error handling
                $(".employee-grid-error").html("");
                $("#employee-grid").append('<tbody class="employee-grid-error"><tr><th colspan="3">No data found in the server</th></tr></tbody>');
                $("#employee-grid_processing").css("display", "none");

            }
        },
        "createdRow": function (row, data, dataIndex) {
            if (data.DT_RowData.pkey == 5) {
                //$(row).css('color','red')
                // Do something which you want to do with the element
            }
        }
    };

    $(function ()
    {
        var testDataTable = $('#example2').DataTable(dataTableOptions);

        $('.dataTables_filter input').off('keyup search input').on('keyup search input', function (e) {
            if (this.value.length >= 3 || e.keyCode == 13) {
                testDataTable.search(this.value).draw();
            }
            if (this.value == "") {
                testDataTable.search("").draw();
            }
            return;
        });
            


        $(document).on('click', '.clsEditUser', function () {
            var customerId = $(this).parents('tr').attr("Id").trim();
            $('#modal-lg').modal(
                { show: true }
            );
        });

        $(document).on('click', '.clsDeleteUser', function () {
            var customerId = $(this).parents('tr').attr("Id").trim();
            var boolResult = confirm("Are you sure you want to delete this user?");

            if (boolResult) {

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Delete","Customer")",
                    data: {customerId : customerId},
                    cache: false,
                    success: function (data) {
                        if (data.Result == true) {
                            testDataTable.draw();
                        } else {
                            alert("Some error happened..")
                        }
                    }
                });

            }
        })
    });
</script>
